<%= render '/pages/navbar' %>
<div class="container">
</div>

</div>
  <div class="container-filter">
    <h1><%= @vehicule.name %></h1>
  </div>

  <div class="container-card">
    <div class="img-solo">
      <%= cl_image_tag @vehicule.pictures.first.key, class:"img-first" if @vehicule.pictures.first %>
    </div>

    <div class="img-group">
      <% @vehicule.pictures.drop(1).each do |picture| %>
        <%= cl_image_tag picture.key, class:"img" %>
      <% end %>
    </div>

  </div>

  <div >
    <div class="container-description">
      <h3><%= @vehicule.description %></h3>
        <span><%= @vehicule.category.name %></span>
          <div class="space-between">
            <span><%= @vehicule.price %>$</span>
            <%= cl_image_tag(@vehicule.user.avatar.key, class: "card-vehicule-user avatar-bordered") %>
          </div>
        <% if @reservations == []%>
          <div class="btn btn-info">
            <%# if @reservation.status == false || @reservation.status.nil? %>
            <%= link_to 'reservation', new_vehicule_reservation_path(@vehicule) %>
          <% else %>
            <%= "reservé" %>
          <% end %>
          </div>
    </div>
  <div>
</div>
