<div class="custom-container">
  <div>
    <h1><%= @vehicule.name %></h1>
  </div>

  <div class="container-cardy">
    <div class="img-solo">
      <%= cl_image_tag @vehicule.pictures.first.key, class:"img-first" if @vehicule.pictures.first %>
    </div>

    <div class="img-group gallery">
      <% @vehicule.pictures.drop(1).each do |picture| %>
        <%= cl_image_tag picture.key, class:"img" %>
      <% end %>
    </div>
  </div>

  <div class="content-show">
    <div>
      <div class="justify">
        <p><%= @vehicule.description %></p>
      </div>
      <div>
        <p><strong>Catégorie : <%= @vehicule.category.name %></strong></p>
      </div>
    </div>
    <div class="reservate">
      <div>
        <div class="image-reservate">
          <%= cl_image_tag(@vehicule.user.avatar.key, class: "card-vehicule-user avatar-bordered") %>
        </div>
        <p><%= @vehicule.price %>€/ jour</p>
      </div>
      <div class="btn btn-info">
        <% if @reservations == []%>
          <%# if @reservation.status == false || @reservation.status.nil? %>
          <%= link_to 'reservation', new_vehicule_reservation_path(@vehicule) %>
        <% else %>
          <%= "reservé" %>
        <% end %>
        <%= link_to user_messages_path(@vehicule.user) do %>
          <button class="btn btn-info">Contacter le propriétaire</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
