
<div class="custom-container">
  <div class="cardy">

    <h3>My conversation with <%= @friend.first_name %></h3>
  <% @messages.each do |message| %>
    <ul>
      <li><p><%= message.sender.first_name %> says : <%= message.content %></p></li>
    </ul>
  <% end %>

<%= simple_form_for [@friend, @message] do |f| %>
  <%= f.input :content %>
  <%= f.submit "Send a message", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back to conversations', conversations_path %>
  </div>
</div>

