<div class="custom-grid-index">
  <% @vehicules.each do |vehicule| %>
    <%= link_to vehicule_path(vehicule) do %>
    <div class="card-vehicule">
      <%= cl_image_tag(vehicule.pictures.first.key) %>
      <div class="card-vehicule-infos">
        <div>
          <h2><%= vehicule.name %></h2>
          <p><%= vehicule.description %></p>
          <p><%= "Réservé" unless vehicule.reservations.empty? %></p>
        </div>
        <h2 class="card-vehicule-pricing"><%= vehicule.price %>€</h2>
        <%= cl_image_tag(vehicule.user.avatar.key, class: "card-vehicule-user avatar-bordered") if vehicule.user.avatar.attached? %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
