<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if current_user.avatar.attached? %>
  <%= cl_image_tag current_user.avatar.key, height: 300, width: 400, crop: :fill %>
<% end %>

<%= render 'card' %>



<h1>Vehicules Offers ?</h1>

<%= @vehicules = Vehicule.all %>

<%# <%= current_user.first_name %>


<% @categories = Category.all %>
<% @categories.each do |category| %>
<%= category.name %>
<% end %>


<%= link_to 'Sign out', destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
<%= link_to 'Sign up', new_user_registration_path %>
<%= link_to 'Sign in', user_session_path  %>
