<%= render 'navbar' %>

<div class="custom-container">
  <h1>Pages#home</h1>

  <p>A NE PAS SUPPRIMER</p>

  <%= render 'card' %>
  <%= render 'card' %>
  <%= render 'card' %>

  <% @vehicules = Vehicule.all %>
  <% @vehicules.each do |vehicule| %>
    <div>
      <%= link_to vehicule.name, vehicule_path(vehicule) %>
    </div>
  <% end %>
</div>

<%= link_to 'Sign out', destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
