
<%# <body class="page-dashboard2">
  <div class="custom-container">
    <div class="text-dashboard">
      <h1>Merci ! Vous avez bien réservé :</h1>
      <div class="card">
        <div class="card-body">
          <h2>Véhicule : <%= @reservation.vehicule.name</h2>
          <p>Date de réservation : <%= @reservation.date</p>
        <%# </div>
      </div>
    </div>
  </div>
</body> %>
<h1>Félicitations ! Vous avez réservé :</h1>
<div class="card-holder">
  <div class="card">
    <img src= >
    <h5><%= @reservation.vehicule.name%></h5>
    <p><%=@vehicule.description%></p>
    <ul>
      <li>Réservé pour le :<%= @reservation.date%></li>
    </ul>
    <div class="links">
      <%= link_to 'Retour au profile', dashboard_path %>
      <%= link_to 'Retour aux annonces', root_path %>
      <%= link_to 'Contacter le propriétaire', user_messages_path(@vehicule.user) %>
    </div>
  </div>
</div>
<h1>Merci pour votre réservation</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>merci pour la réservation</h1>
        <div>
          <%= @reservation.vehicule.name %>
        </div>
        <%= @reservation.date %>
    </div>
  </div>
</div>
