<div class="container">
	<div class="cardy">
		<div class="cardy-image">
      <%# <h2 class="cardy-heading">Log in</h2> %>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "cardy-form"}) do |f| %>
      <div>
        <div class="input">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      # label_html: { class: "input-label" },
                      input_html: { placeholder: "email", class: "input-field" } %>
			  </div>
        <div class="input">
          <%= f.input :password,
                      required: true,
                      # label_html: { class: "input-label" },
                      input_html: { placeholder: "password", class: "input-field" } %>
        </div>
        <div class="action">
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
      </div>
      <%# <div class="action">
        <%= f.button :submit, "Log in" %>
      <%# </div> %>
      <div class="action">
        <button class="action-button"><%= f.button :submit, "Log in" %></button>
      </div>
    <% end %>
    <div class="div-devise">
      <%= render "devise/shared/links" %>
    </div>
	</div>
</div>
