<body class="page-dashboard">
  <div class="custom-container">
    <div class="text-dashboard">
      <h1> Bienvenue <%= current_user.first_name%></h1>


      <div>
        <h2>Mes informations personnelles</h2>
          <%= link_to 'Modifier mon profil', edit_user_registration_path %> |
          <%= link_to 'Supprimer mon compte', user_registration_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
          <br>
      </div>

      ***********************************************************************


  <h2>Mes véhicules</h2>

    <div class="custom-grid-index">
      <% @my_vehicules = current_user.vehicules %>
        <% @my_vehicules.each do |vehicule| %>
          <%= link_to vehicule_path(vehicule) do %>
            <div class="card-vehicule">
              <%= cl_image_tag(vehicule.pictures.first.key) if vehicule.pictures.attached? %>
              <div class="card-vehicule-infos">
                <div>
                  <h2 class="size-name"><%= vehicule.name %></h2>
                </div>
                  <%= cl_image_tag(vehicule.user.avatar.key, class: "card-vehicule-user avatar-bordered") if vehicule.user.avatar.attached? %>
              </div>
                <div class="card-description">
                  <p><%= vehicule.description.truncate(85) %></p>
                </div>
                <div class="price-category">
                  <h3><strong><%= vehicule.price %>€/ jour    -    <%= vehicule.category.name %></h3></strong>
                </div>
                <div class="reservate">
                  <%= "Réservé" unless vehicule.reservations.empty? %>
                </div>
            </div>
          <% end %>
          <div class="card-vehicule add-card">
            <%= link_to new_vehicule_path, class: "add-vehicule" do %>
              <span>+</span>
            <% end %>
          </div>
    </div>
          <%= link_to 'Modifier', edit_vehicule_path(vehicule) %> |
          <%= link_to 'Supprimer', vehicule_path(vehicule), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
        <% end %>



***********************************************************************

      <div>
     <h2>Mes réservations en cours</h2>
  <ul>
    <% @my_reservations.each do |reservation| %>
      <li><%= link_to reservation.vehicule.name, vehicule_reservation_path(reservation.vehicule, reservation) %></li>
    <% end %>
  </ul>
</div>





  <% @my_reservations.each do |reservation| %>
    <td><%= reservation.vehicule.name %></td>
    <% if current_user.id == reservation.vehicule.user_id %>
    <div class="links">
      <%= link_to "Accepter", accept_reservation_path(reservation), data: {turbo_method: :post, turbo_confirm: 'Êtes-vous sûr?'} %>
      <%= link_to "Refuser", decline_reservation_path(reservation), data: {turbo_method: :post, turbo_confirm: 'Êtes-vous sûr?'} %>
    <% else %>
      <p>Vous n'êtes pas le proprio</p>
    <% end %>
    </div>
  <% end %>
