<<<<<<< HEAD
<div class="navbar">
   <div class="logo">
    <a href="<%= root_path %>">
      <i class="fa-solid fa-rocket rocket"></i>
    </a>
  </div>
  <div>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
    </style>
    <h3 class="navbar-mooveas">Movease</h3>
  </div>
  <div class = "menu">
    <div class="button-publier"><%= link_to 'Publier sur Movease', new_vehicule_path %></div>
      <div class="links">
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-link"><i class="fa-solid fa-bars"></i> Menu</label>
       <% if user_signed_in? %>
          <% if current_user.avatar.attached? %>
            <a href="<%= dashboard_path %>">
              <%= cl_image_tag current_user.avatar.key, height: 50, width: 50, crop: :fill, class: "custom-rounded" %>
            </a>
          <% end %>
        <% end %>
        <div class="dropdown-menu">
          <% if user_signed_in? %>
            <%= link_to 'Connexion', user_session_path %>
            <%= link_to 'Profile', dashboard_path %>
            <%= link_to 'Déconnexion', destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
          <% else %>
            <%= link_to 'Connexion', user_session_path %>
            <%= link_to 'Nouveau profil', new_user_registration_path %>
          <% end %>
        </div>
    </div>
  </div>
</div>

<body class="page-dashboard">
  <div class="custom-container">
    <div class="text-dashboard">
      <h1> Bienvenue <%= current_user.first_name%></h1>


      <div>
        <h2>Mes informations personnelles</h2>
          <%= link_to 'Modifier mon profil', edit_user_registration_path %> |
          <%= link_to 'Supprimer mon compte', user_registration_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
      </div>

      **********************************************************************

      <div>
        <h2>Mes véhicules</h2>
          <ul>
            <% @my_vehicules = current_user.vehicules %>
            <% @my_vehicules.each do |vehicule| %>
            <li><%= link_to vehicule.name, vehicule_path(vehicule) %></li>

          </ul>
            <%= link_to 'Modifier', edit_vehicule_path(vehicule) %> |
            <%= link_to 'Supprimer', vehicule_path(vehicule), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
            <% end %>
      </div>
=======
<h1> Bienvenue <%= current_user.first_name%></h1>
>>>>>>> a2bf3c6d3c2b5b5e35967593034aaeccc5c9091f


      ***********************************************************************

      <div>
     <h2>Mes réservations en cours</h2>
  <ul>
    <% @my_reservations = current_user.reservations %>
    <% @my_reservations.each do |reservation| %>
      <li><%= link_to reservation.vehicule.name, vehicule_reservation_path(reservation.vehicule, reservation) %></li>
    <% end %>
  </ul>
</div>

      ***********************************************************************

<<<<<<< HEAD
      <div>
        <h2>Mon historique de réservations </h2>
          <ul>
          </ul>
      </div>
    </div>
  </div>
</body>
=======

  <h2>Mes véhicules</h2>

    <div class="custom-grid-index">
      <% @my_vehicules = current_user.vehicules %>
        <% @my_vehicules.each do |vehicule| %>
          <%= link_to vehicule_path(vehicule) do %>
            <div class="card-vehicule">
              <%= cl_image_tag(vehicule.pictures.first.key) if vehicule.pictures.attached? %>
              <div class="card-vehicule-infos">
                <div>
                  <h2 class="size-name"><%= vehicule.name %></h2>
                </div>
                  <%= cl_image_tag(vehicule.user.avatar.key, class: "card-vehicule-user avatar-bordered") if vehicule.user.avatar.attached? %>
              </div>
                <div class="card-description">
                  <p><%= vehicule.description.truncate(85) %></p>
                </div>
                <div class="price-category">
                  <h3><strong><%= vehicule.price %>€/ jour    -    <%= vehicule.category.name %></h3></strong>
                </div>
                <div class="reservate">
                  <%= "Réservé" unless vehicule.reservations.empty? %>
                </div>
            </div>
          <% end %>
    </div>
          <%= link_to 'Modifier', edit_vehicule_path(vehicule) %> |
          <%= link_to 'Supprimer', vehicule_path(vehicule), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
        <% end %>



***********************************************************************

<div>
  <h2>Mes réservations en cours</h2>
    <ul>

    </ul>
</div>

***********************************************************************

<div>
  <h2>Mon historique de réservations </h2>
    <ul>

    </ul>
</div>
>>>>>>> a2bf3c6d3c2b5b5e35967593034aaeccc5c9091f
